Ödev-1: Değişkenlere atanmış değerlerin veri tipleri arasında dönüşüm yapılır.

In [5]:
x = 5.6

int_x = int(x)
char_x = chr(int(x))
str_x = str(x)
bool_x = bool(x)

print(int_x)
print(char_x)
print(str_x)
print(bool_x)


y = 5

float_y = float(y)
print(float_y)

5

5.6
True
5.0

Ödev-2: İsimlerden oluşan üç değişkene yaş değerleri atanır. Belirlenen üç değişken birbiriyle karşılaştırma operatörleri ile karşılaştırılır. Bu karşılaştırmalara mantıksal operatörler de eklenir.

In [6]:
name1 = "Ali"
name2 = "Ayşe"
name3 = "Emre"

age1 = 25
age2 = 30
age3 = 35

comparison1 = age1 > age2
comparison2 = age2 < age3
comparison3 = age1 >= age3

result = comparison1 and comparison2 or comparison3

result

False

Ödev-3: Kullanıcıdan iki değer girmesini istenir. Girilen değerlerin toplama, çıkarma, çarpma, bölme sonuçlarını yazdırılır.

In [7]:
num1 = float(input("İlk sayıyı giriniz: "))
num2 = float(input("İkinci sayıyı giriniz: "))

addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2

print("Toplama:", addition)
print("Çıkartma:", subtraction)
print("Çarpma:", multiplication)
print("Bölme:", division)

Toplama: 30.0
Çıkartma: -10.0
Çarpma: 200.0
Bölme: 0.5

Ödev-4: Kullanıcıdan isim, yaş, şehir ve meslek bilgilerini istenir ve cevaplarını yazdırılır.

In [8]:
name = input("İsim: ")
age = input("Yaş: ")
city = input("Şehir: ")
job = input("Meslek: ")

print("İsim:", name)
print("Yaş:", age)
print("Şehir:", city)
print("Meslek:", job)

İsim: Emre,
Yaş: 23
Şehir: Adana
Meslek: Öğrenci

Ödev-5: "Hi-Kod Veri Bilimi Atölyesi" ifadesini bir değişkene tanımlanır.


 İfadedeki her bir kelimeyi ("Hi-Kod", "Veri", "Bilimi", "Atölyesi") değişken içinden seçilir. 
 İfadeyi hepsini büyük harf olacak hale çevrilir. ("HI-KOD VERİ BİLİMİ ATÖLYESİ") 
 İfadeyi hepsini büyük harf olacak hale çevrilir.("hi-kod veri bilimi atölyesi") 

"0123456789" ifadesindeki yalnızca çift sayıları ve yalnızca tek sayıları seçilir. ("02468", "13579")

In [9]:
text = "Hi-Kod Veri Bilimi Atölyesi"

words = text.split()

print(words)

uppercase_text = text.upper()
lowercase_text = text.lower()

print(uppercase_text)
print(lowercase_text)

['Hi-Kod', 'Veri', 'Bilimi', 'Atölyesi']
HI-KOD VERI BILIMI ATÖLYESI
hi-kod veri bilimi atölyesi

6. Ödev:"0123456789" ifadesindeki yalnızca çift sayıları ve yalnızca tek sayıları seçilir. ("02468", "13579")

In [10]:
numbers = "0123456789"

even_numbers = ""
odd_numbers = ""

for i in range(len(numbers)):
    if i % 2 == 0:
        even_numbers += numbers[i]
    else:
        odd_numbers += numbers[i]

print("Çift Sayılar:", even_numbers)
print("Tek Sayılar:", odd_numbers)

Even numbers: 02468
Odd numbers: 13579